body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe6f0;
    color: #333;
}

h1 {
    color: #d63384;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.2em;
}
a, button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d63384;
    color: white;
    text-decoration: none;
    border: none; /* Removes the border */
    border-radius: 5px;
    cursor: pointer; /* Changes the cursor to a pointer for better UX */
}

a:hover, button:hover {
    background-color: #a0225a;
}
img {
    width: 400px; /* Set a consistent width for all images */
    height: auto; /* Maintain the aspect ratio */
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border 0.3s;
}
