<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valentine's Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Will you be my Valentine? ❤️</h1>
    <p>Yes or No?</p>
    <ul>
        <li><a href="/Yes">Yes</a></li>
        <li><a href="/No">No</a></li>
    </ul>
    <label><img src="{{ url_for('static', filename='image5.JPG') }}" alt="pic"></label>
</body>
</html>
