<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yipppeee! 👹👹👹👹👹👹</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>👹👹👹👹👹👹 press this</h1>
    <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/1oq9Wdm6ygk" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
<label><img src="{{ url_for('static', filename='image4.jpeg') }}" alt="Option 1"></label>
</body>
</html>
